<launch>
  <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen">
    <rosparam command="load" file="$(find rtabmap_pkg)/params.yaml" />

    <!-- Remap topics -->
    <remap from="/odom" to="/robot_control/odom" />
    <remap from="/scan_cloud" to="/velodyne_points" />
    <remap from="/left/image_rect" to="/zed/left/image_raw" />
    <remap from="/right/image_rect" to="/zed/right/image_raw" />
    <remap from="/left/camera_info" to="/zed/left/camera_info" />
    <remap from="/right/camera_info" to="/zed/right/camera_info" />

    <!-- localization mode -->
    <!-- <param name="Mem/IncrementalMemory" type="string" value="false" />
    <param name="Mem/InitWMWithAllNodes" type="string" value="false" /> -->
  </node>

</launch>
